:root{
    --fullsliderbar:hsl(174, 77%, 80%);
    --sliderbackground:hsl(174, 86%, 45%);
    --discountbackground:hsl(14, 92%, 95%);
    --discounttext:hsl(15, 100%, 70%);
    --ctatext:hsl(226, 100%, 87%);

    --pricecomponentbackground: hsl(0, 0%, 100%);
    --mainbackground:hsl(230, 100%, 99%);
    --emptysliderbar:hsl(224, 65%, 95%);
    --togglebackground:hsl(223, 50%, 87%);
    --text:hsl(225, 20%, 60%);
    --textandCTAbackground: hsl(227, 35%, 25%);
}



body{
    padding: 0;
    margin:0;
    background-color: var(--mainbackground);
    font-size:15px;
    font-family: "Manrope", sans-serif;
    background: url("/images/bg-pattern.svg") no-repeat 50% center;


}
.header{

    position: absolute;
    left: 50%;
    top:15%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.circles{
    position: absolute;
    left: 50%;
    top:15%;
    transform: translate(-50%,-50%);
}

.title{
    font-size: 1.6rem;
    color:var(--textandCTAbackground) ;
    font-weight: bold;
}

.subtitle{
    color: var(--text);
    font-size: 0.84rem;
    font-weight: 800;
}


.details{
    width: 100%;
    position: absolute;
    left: 10%;
    top:70%; 
    gap: 0.5rem;
    font-weight: 800;
    font-size: 0.7rem;
    color: var(--text);
    
}


.details button{
    position: absolute;
    left: 50%;
    top:10%; 
    border-radius: 100px;
    background-color: var(--textandCTAbackground);
    color: var(--ctatext);
    padding: 0.74rem 2.5rem;

}
.main{
    grid-area: card;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: var(--pricecomponentbackground);
    box-shadow: -5px 18px 24px rgba(16, 213, 194, 0.6);
    border-radius: 10px;
}

.slidecontainer{
    position: absolute;
    top: 35%;
    right:0%;
    left: 10%;
    width: 100%;
}

.price{
    color: var(--text);
    position: absolute;
    top: 10%;
    right:0%;
    left: 63%;
    font-weight: 800;
  font-size: 0.7rem;
}

.views{
    color: var(--text);
    position: absolute;
    top: 15%;
    right:0%;
    left: 10%;
    font-weight: 800;
    font-size: 0.7rem;
}

.cost{
    color: var(--textandCTAbackground);
    font-size: 2.74em;
    font-weight: 800;
    
}

.billing{
    color: var(--text);
    position: absolute;
    top: 50%;
    right:0%;
    left: 20%;
    font-size: 0.7rem;

}


.maindiscount{
    color:var(--text);
    position: absolute;
    top: 50%;
    right:0%;
    left: 43%;
    font-size: 0.7rem;
}

.discount{
    color: var(--discounttext);
    font-size: 0.7rem;
    font-weight: 800;
    border-radius: 100px;
    background-color: var(--discountbackground);
    opacity: 0.5;
    padding: 2px 5px;
    letter-spacing: -1;
}

.slidecontainer {
    width: 80%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 9px; /* Specified height */
    background: var(--emptysliderbar);/* Grey background */
    border: white 1px solid;
    border-radius: 100px;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 38px;
    height: 38px;
    background: url("/images/icon-slider.svg") no-repeat 50% center,var(--sliderbackground);
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    box-shadow: -5px 18px 24px hsl(174, 86%, 45%, 0.6);
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    width: 38px;
    height: 38px;
    background: url("/images/icon-slider.svg") no-repeat 50% center,var(--sliderbackground);
    cursor: pointer; /* Cursor on hover */
    
  }




  /* The switch - the box around the slider */
.switch {
    
    width: 40px;
    height: 20px;
    position: absolute;
    top: 50%;
    right:0%;
    left: 36%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--togglebackground);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slide:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slide {
    background-color:hsl(174, 77%, 80%);
  }
  
  input:focus + .slider{
    box-shadow: 0 0 1px hsl(174, 77%, 80%);
  }
  
  input:checked + .slide:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slide.round {
    border-radius: 34px;
  }
  
  .slide.round:before {
    border-radius: 50%;
  }